html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;

	font-family: 'IBM Plex Sans', sans-serif;
}

/* style.css */
body {
    background-color: b0e4f5; /* Sets background for the entire page */
}

a.button {
    padding: 2px 6px;
    border: 1px outset #737373;
    border-radius: 3px;
    color: #fafafa;
    background-color: #08435c;
    text-decoration: none;
    font-size: 1rem;
}