html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;

	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #c0d8fc; /* Sets background for the entire page */
}

a.button {
    padding: 2px 8px;
    border: 1px outset #737373;
    border-radius: 4px;
    color: #fafafa;
    background-color: #08435c;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 12px;
}

a.button:hover {
    border-color: #b0b0b0;
    color: #ffffff;
    background-color: #11688f;
}

.buttonIcon {
    color: #fafafa;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: top;
    padding-top: 0.075rem;
}

a.button:hover .buttonIcon {
    color: #ffffff;
}